html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.container {
    margin: 0 auto;
    width: 941px;
}

/* header */

.header {
    background-image: url(/img/background-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 769px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 41px 0 71px 0;

}
.logo__white {
    width: 101.62px;
    height: 23px;
}
.header__text {
    color: #fff;
    margin-top: 83px;
}
.header_h1 {
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.1em;
}
.header_h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 600;
    font-size: 16px;
    text-align: center;
}
.header_p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.34em;
    color: #fff;
    text-transform: uppercase;
}

/* nav */

.nav {
    height: 65px;
    display: flex;
    align-items: center;
}
.nav__flex {
    display: flex;
    justify-content: space-between;
}
.nav__logo {
    width: 79.53px;
    height: 18px;
}
.nav__menu-flex {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav__menu-item {
}

.nav__menu-item a {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-decoration: none;
    color: #48555B;
}

.nav__menu-item a:hover {
    color: #00A4E5;
}

.about {
    min-height: 344px;
    margin-top: 57px;
}
.about_h3 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    color: #48555B;
}
.about__line {
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    margin: 10px auto 0;
}
.about__content-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 52px;
}
.about__text {
    width: 405.08px;
}
.about_h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #48555b;
}
.about_h4 span {
    letter-spacing: 0.01em;
    color: #16ace8;
}

.about_p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
    margin-top: 30px;
}
.about__card_items-flex {
    display: flex;
    gap: 20px;
    
}
.about__card-item {
    width: 140px;
    height: 224px;
}

.about__card-item:nth-child(1) {
    background-image: url(/img/plan.png);
}

.about__card-item:nth-child(2) {
    background-image: url(/img/manage.png);
}

.about__card-item:nth-child(3) {
    background-image: url(/img/deliver.png);
}
.about_h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 0 0 15px;

}
